.price-perlify {
	background-color: #29C455;
	color: #ffffff;
	padding: 10px;
    border-radius: 2px;
    text-align: center;
    transition: background-color .2s;
	-webkit-transition: background-color .2s;
}

.price-perlify p {
	margin-bottom: 0;	
}

.price-value {
	font-size: 24px;
	line-height: 27px;
}

.green {
	background-color: #29C455;
	color: #ffffff;
}

.red {
	background-color: #B80C09;
}

.pending {
	background-color: #333;
	color: #ffffff;
}

.error {
	background-color: rgba(0,0,0,.35);
}

.product-tiles .tile-pricing-block {
	height: 100px !important;
}